.navbar{
  border-radius: 0 !important;
}

footer{
  background: #fefefe;
  border-top:1px solid #dedede;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer span{
  float: right;
  line-height: 4;
}
