<div class="container">
    <div class="row">
        <div class="col-sm-4 item-comic">
          <a href="/#/comic/{{comic.name}}" class="thumbnail">
            <img src="img/{{comic.thumbnail}}" class="img-responsive" alt="">
            <div class="caption">
              <div class="row">
                <div class="col-sm-6"><h3>{{comic.name}}</h3></div>
                <div class="col-sm-6"><span class="label label-info">${{comic.price}}</span></div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p>{{comic.description}}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
    </div>
</div>
